@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
@inject MicrosoftTeams MicrosoftTeams
@inject IUserToken UserToken
@inject IGroupToken GroupToken
@inject Solutaris.InfoWARE.ProtectedBrowserStorage.Services.IIWSessionStorageService sessionStorage
<div class="container">
    <nav class="sticky-top w-100 @(dark ? "dark" : "")">
    @if(IsLoaded) {
        <fluent-tabs class="py-4">
        	<fluent-tab @onclick='() => MyNavigationManager.NavigateTo("/")' class="@(dark ? "text-white" : "")">Pavouk</fluent-tab>
    @if(UserToken.Profile.JobTitle == null) {
            <fluent-tab @onclick='() => MyNavigationManager.NavigateTo("/add")' class="@(dark ? "text-white" : "")">Přidání</fluent-tab>
            <fluent-tab @onclick='() => MyNavigationManager.NavigateTo("/souhrn")' class="@(dark ? "text-white" : "")">Souhrn</fluent-tab>
             <fluent-tab @onclick='() => MyNavigationManager.NavigateTo("/nastaveni")' class="@(dark ? "text-white" : "")">Nastavení</fluent-tab>
    }   
	    <fluent-tab-panel>
        </fluent-tab-panel>
    @if(UserToken.Profile.JobTitle == null) {
        <fluent-tab-panel>
        </fluent-tab-panel>
        <fluent-tab-panel>
        </fluent-tab-panel>
            <fluent-tab-panel>
        </fluent-tab-panel>
    }
        </fluent-tabs>
    }
    </nav>
@Body
</div>
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="5"/>
<link rel="stylesheet" href="css/main-styly-inputs.css" />
<style>
    .container {
        padding-bottom: 1em;
    }
    Fluent-Tab {
        cursor: pointer;
    }
    nav {
        background: #edeeee;
        z-index: 10 !important;
    }
    .dark {
        background: #1f1f1f !important;
    }
    .blazored-toast-container{
        z-index: 999 !important;
    }
</style>
@code {
    public bool IsLoaded = false;
    private bool dark = false;
    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UserToken.GetUserAsync(sessionStorage);
            await GroupToken.GetGroupAsync(MicrosoftTeams);
            if (UserToken.Profile == null)
            {
                MyNavigationManager.NavigateTo("/tab");
            }
            else
            {
                if(GroupToken.teamsContext.Theme == "dark") {
                    await JSRuntime.InvokeVoidAsync("SetBodyStyle");
                    dark = true;
                }
                IsLoaded = true;
            }
            StateHasChanged();
        }

	}	

}
