@page "/souhrn"
@using vyukovy_pavouk.Data
@layout UserLayout
@inject HttpClient Http
@inject MicrosoftTeams MicrosoftTeams
@inject NavigationManager MyNavigationManager
@inject IUserToken UserToken
@inject IGroupToken GroupToken
@inject Solutaris.InfoWARE.ProtectedBrowserStorage.Services.IIWSessionStorageService sessionStorage
@if (IsLoaded)
{
	<h1 class="text-center py-2 pb-4">Souhrn</h1>
	<fluent-dialog Hidden="@ModelHidden">
					<div class="d-flex justify-content-center align-items-center h-100 w-100 flex-column">
						<svg id="Layer_1" style="width: 20%" class="pb-5" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105.16 122.88"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>delete</title><path class="cls-1" d="M11.17,37.16H94.65a8.4,8.4,0,0,1,2,.16,5.93,5.93,0,0,1,2.88,1.56,5.43,5.43,0,0,1,1.64,3.34,7.65,7.65,0,0,1-.06,1.44L94,117.31v0l0,.13,0,.28v0a7.06,7.06,0,0,1-.2.9v0l0,.06v0a5.89,5.89,0,0,1-5.47,4.07H17.32a6.17,6.17,0,0,1-1.25-.19,6.17,6.17,0,0,1-1.16-.48h0a6.18,6.18,0,0,1-3.08-4.88l-7-73.49a7.69,7.69,0,0,1-.06-1.66,5.37,5.37,0,0,1,1.63-3.29,6,6,0,0,1,3-1.58,8.94,8.94,0,0,1,1.79-.13ZM5.65,8.8H37.12V6h0a2.44,2.44,0,0,1,0-.27,6,6,0,0,1,1.76-4h0A6,6,0,0,1,43.09,0H62.46l.3,0a6,6,0,0,1,5.7,6V6h0V8.8h32l.39,0a4.7,4.7,0,0,1,4.31,4.43c0,.18,0,.32,0,.5v9.86a2.59,2.59,0,0,1-2.59,2.59H2.59A2.59,2.59,0,0,1,0,23.62V13.53H0a1.56,1.56,0,0,1,0-.31v0A4.72,4.72,0,0,1,3.88,8.88,10.4,10.4,0,0,1,5.65,8.8Zm42.1,52.7a4.77,4.77,0,0,1,9.49,0v37a4.77,4.77,0,0,1-9.49,0v-37Zm23.73-.2a4.58,4.58,0,0,1,5-4.06,4.47,4.47,0,0,1,4.51,4.46l-2,37a4.57,4.57,0,0,1-5,4.06,4.47,4.47,0,0,1-4.51-4.46l2-37ZM25,61.7a4.46,4.46,0,0,1,4.5-4.46,4.58,4.58,0,0,1,5,4.06l2,37a4.47,4.47,0,0,1-4.51,4.46,4.57,4.57,0,0,1-5-4.06l-2-37Z"/></svg>
					<h5 class="text-center pb-3">Opravdu si přejete smazat studenta @VybranyStudent.Jmeno @VybranyStudent.Prijmeni ze skupiny?</h5>
			<p class="text-center pb-3">Bude mu odstraněno členství ve skupině a jeho dosavadní progres ve skupině! Pokud student je v MS skupině bude se moct znovu napojit!</p>
					<div>
						<fluent-button class="dialog-btn" @onclick="CloseDialog">Zavřít</fluent-button>
						<fluent-button appearance="accent" class="dialog-btn" Disabled="@vypnutiTlacitkaSmaz" @onclick="VymazStudenta">Smazat</fluent-button>
					</div>
					</div>
				</fluent-dialog>
	<table class="table table-md my-4">
		<thead>
			<tr>
				<th></th>
				<th>Jméno a příjmení</th>
				<th>
					Splněno <button id="anchor1">?</button>
					<fluent-tooltip Anchor="anchor1" Position=TooltipPosition.Bottom>Počet splněných kapitol/Počet všech možných kapitol.</fluent-tooltip>
				</th>
				<th>
					Procent
					<button id="anchor2">?</button>
					<fluent-tooltip Anchor="anchor2" Position=TooltipPosition.Bottom>Zobrazuje procentuální splnění.</fluent-tooltip>
				</th>
				<th>Více info</th>
			</tr>
		</thead>
		<tbody>

			@if (@studenti.Count() > 0)
			{
				@foreach (var student in studenti)
				{
					<tr class="usr">				
						<th>	<fluent-button appearance="accent" @onclick="() => UkazDialog(student.Student.Id)">
							<?xml version="1.0" encoding="iso-8859-1" ?>				
							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="20" height="20" viewBox="0 0 408.483 408.483" style="enable-background:new 0 0 408 408;"
					 xml:space="preserve">
							<g>
							<path d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316
			H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293
			c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329
			c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355
			c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356
			c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z" />
							<path d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916
			c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z" />
				</g>
			</svg>
						</fluent-button></th>
						<th scope="row"><p class="d-flex align-items-center justify-content-center h-100">@student.Student.Jmeno @student.Student.Prijmeni</p></th>
						@if (MaxCountKapitol > 0)
						{
							<td><p class="d-flex align-items-center">@student.Student.StudentSplneni.Select(x => x.splneni).Count()/@MaxCountKapitol</p></td>
							<td><p class="d-flex align-items-center">@CalculateAVG(student.Student.StudentSplneni.Select(x => x.splneni).Count())%</p></td>
							<td><fluent-button appearance="accent" class="d-grid align-items-center" @onclick="() => ShowResult(student.Student.Id)"><svg width="28" height="28" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14.296 16.294a1 1 0 1 0 1.415 1.414l4.997-5.004a1 1 0 0 0 0-1.413L15.71 6.293a1 1 0 0 0-1.415 1.414L17.59 11H11a8 8 0 0 0-7.996 7.75L3 19a1 1 0 1 0 2 0 6 6 0 0 1 5.775-5.996L11 13h6.586l-3.29 3.294Z" fill="#ffffff" /></svg></fluent-button></td>
						}
						else
						{
							<td colspan="3">V teamu není žádná kapitola!</td>
						}

					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="5">Čekáme na připojení studentů do Teamu.</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
		<FluentProgressRing />
	</div>
}
<style>
	.usr {
		height: 3em;
	}	
	fluent-dialog fluent-button {
		width: 100px;
		height: 50px;
	}
	fluent-dialog {
		position: sticky;
		z-index: 11;
	}
</style>
@code {
	private bool IsLoaded = false;
	private bool ModelHidden = true;
	private bool vypnutiTlacitkaSmaz = false;
	private List<SkupinaStudent> studenti { get; set; }
	private Skupina skupina = new Skupina();
	private int MaxCountKapitol = 0;
	private Student VybranyStudent = new Student();
	@inject IToastService upozorneni;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await UserToken.GetUserAsync(sessionStorage);
			await GroupToken.GetGroupAsync(MicrosoftTeams);
			if (UserToken.Profile == null || UserToken.Profile.JobTitle == "žák školy")
			{
				MyNavigationManager.NavigateTo("/tab");
			}
			else
			{
				//získání skupiny z databáze
				skupina = await Http.GetFromJsonAsync<Skupina>($"{MyNavigationManager.BaseUri}api/Skupina/{GroupToken.teamsContext.TeamId}");
				// získání uživatelů a jejich progres v plnění kapitol
				studenti = await Http.GetFromJsonAsync<List<SkupinaStudent>>($"{MyNavigationManager.BaseUri}api/studenti/{skupina.Id}");
				//získání počtů všech dostupných kapitol
				if (studenti.Count() > 0)
				{
					MaxCountKapitol = await Http.GetFromJsonAsync<int>($"{MyNavigationManager.BaseUri}api/predmet/{skupina.predmet.Id}");
				}
				IsLoaded = true;
			}
		}
		StateHasChanged();
	}
	public double CalculateAVG(int PocetSplneni)
	{
		double vypocet = (Convert.ToDouble(PocetSplneni) / MaxCountKapitol) * 100;
		return Math.Round(vypocet);

	}
	private void UkazDialog(int Id) {
		VybranyStudent = studenti.Where(x => x.IdStudent == Id).Select(x => x.Student).SingleOrDefault();
		ModelHidden = false;
	}
	private void CloseDialog() {
		ModelHidden = true;
	}
	private async void VymazStudenta(){
		vypnutiTlacitkaSmaz = true;
		await Http.DeleteAsync($"{MyNavigationManager.BaseUri}api/studenti/deleteStudent/{VybranyStudent.Id}/{skupina.Id}");
		// získání uživatelů a jejich progres v plnění kapitol
		studenti = await Http.GetFromJsonAsync<List<SkupinaStudent>>($"{MyNavigationManager.BaseUri}api/studenti/{skupina.Id}");
		upozorneni.ShowSuccess("Student byl úspěšně vymazan ze skupiny.", "Smazáno!");
		CloseDialog();
		vypnutiTlacitkaSmaz = false;
		await InvokeAsync(StateHasChanged);
	}

	public void ShowResult(int student)
	{
		MyNavigationManager.NavigateTo($"/progres/{student}");
	}
}
