@page "/souhrn"
@using vyukovy_pavouk.Data
@layout UserLayout
@inject HttpClient Http
@inject MicrosoftTeams MicrosoftTeams
@inject NavigationManager MyNavigationManager
@inject IUserToken UserToken
@inject IGroupToken GroupToken
@inject Solutaris.InfoWARE.ProtectedBrowserStorage.Services.IIWSessionStorageService sessionStorage
@if (IsLoaded)
{
	<h1 class="text-center py-2 pb-4">Souhrn</h1>

	<table class="table table-md my-4">
		<thead>
			<tr>
				<th>Jméno a příjmení</th>
				<th>
					Splněno <button id="anchor1">?</button>
					<fluent-tooltip Anchor="anchor1" Position=TooltipPosition.Bottom>Počet splněných kapitol/Počet všech možných kapitol.</fluent-tooltip>
				</th>
				<th>
					Procent
					<button id="anchor2">?</button>
					<fluent-tooltip Anchor="anchor2" Position=TooltipPosition.Bottom>Zobrazuje procentuální splnění.</fluent-tooltip>
				</th>
				<th>Více info</th>
			</tr>
		</thead>
		<tbody>

			@if (@studenti.Count() > 0)
			{
				@foreach (var student in studenti)
				{
					<tr>
						<th scope="row">@student.Student.Jmeno @student.Student.Prijmeni</th>
						@if (MaxCountKapitol > 0)
						{
							<td>@student.Student.StudentSplneni.Select(x => x.splneni).Count()/@MaxCountKapitol</td>
							<td>@CalculateAVG(student.Student.StudentSplneni.Select(x => x.splneni).Count())%</td>
							<td><fluent-button appearance="accent" @onclick="() => ShowResult(student.Student.Id)"><svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14.296 16.294a1 1 0 1 0 1.415 1.414l4.997-5.004a1 1 0 0 0 0-1.413L15.71 6.293a1 1 0 0 0-1.415 1.414L17.59 11H11a8 8 0 0 0-7.996 7.75L3 19a1 1 0 1 0 2 0 6 6 0 0 1 5.775-5.996L11 13h6.586l-3.29 3.294Z" fill="#ffffff" /></svg></fluent-button></td>
						}
						else
						{
							<td colspan="3">V teamu není žádná kapitola!</td>
						}

					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="4">Čekáme na připojení studentů do Teamu.</td>
				</tr>
			}



		</tbody>
	</table>
}
else
{
	<div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
		<FluentProgressRing />
	</div>
}
@code {
	public bool IsLoaded = false;
	public List<SkupinaStudent> studenti { get; set; }
	public Skupina skupina = new Skupina();
	int MaxCountKapitol = 0;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{

			await UserToken.GetUserAsync(sessionStorage);
			await GroupToken.GetGroupAsync(MicrosoftTeams);
			if (UserToken.Profile == null || UserToken.Profile.JobTitle == "žák školy")
			{
				MyNavigationManager.NavigateTo("/tab");
			}
			else
			{
				//získání skupiny z databáze
				skupina = await Http.GetFromJsonAsync<Skupina>($"{MyNavigationManager.BaseUri}api/Skupina/" + (GroupToken.teamsContext.TeamId).ToString());
				// získání uživatelů a jejich progres v plnění kapitol
				studenti = await Http.GetFromJsonAsync<List<SkupinaStudent>>($"{MyNavigationManager.BaseUri}api/studenti/" + Convert.ToInt32(skupina.Id));
				//získání počtů všech dostupných kapitol
				if (studenti.Count() > 0)
				{
					MaxCountKapitol = await Http.GetFromJsonAsync<int>($"{MyNavigationManager.BaseUri}api/predmet/" + Convert.ToInt32(skupina.predmet.Id));
				}
				IsLoaded = true;
			}
		}
		StateHasChanged();
	}
	//TO DO vrátit počet kapitol
	public double CalculateAVG(int PocetSplneni)
	{
		//vrátí procentuální splnění
		double vypocet = (Convert.ToDouble(PocetSplneni) / MaxCountKapitol) * 100;
		return Math.Round(vypocet);

	}
	public void ShowResult(int student)
	{
		MyNavigationManager.NavigateTo($"/progres/{student}");
	}
}
